/*--sectinon--*/
#bimbim{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px
}
.title-text img{
    margin: auto;
    width: 10%;
    padding-bottom: 40px;
}
.title-text h2{
    font-size: 60px;
    font-family: 'Bangers';
}
.bimbim-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.bimbim-text{
    flex-basis: 50%;
}
.bimbim.img{
    flex-basis: 50%;
    margin: auto;
    margin-bottom: 5px;
}
.bimbim.img img{
    width: 70%;
    border-radius: 12%;
    transition: 1s;
}
.bimbim.img img:hover{
    transform: scale(1.1);
}
.bimbim.img2{
    flex-basis: 33%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.bimbim.img2 img{
    width: 85%;
    border-radius: 12%;
    transition: 1s;
}
.bimbim.img2 img:hover{
    transform: scale(1.1);
}
.bimbim-text h2{
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Tapestry';
    font-size: 30px;
}
.bimbim-text p{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 25px;
    font-family: 'Dancing Script';
}
h3{
    text-align: center;
    padding: 20px 0;
    font-size: 60px;
    color: #f10e0e;
}
